.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  background-color: $primaryBackground;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
  transition: background-color 250ms $timingFunction;
  &:hover,
  &:focus {
    background-color: rgba(0, 0, 0, 0.1);
  }
}

@include tablet {
  .menu-toggle {
    display: none;
  }
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: $primaryBackground;
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
  @media screen and (max-width: 399px) {
    padding: 48px 20px;
  }
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.mob-site {
  margin-bottom: auto;
}

.mob-site__item {
  margin-bottom: 32px;
}

.mob-site__link {
  display: block;
  gap: 32px;

  color: $primaryTextColor;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  transition: color 250ms $timingFunction;
}

.mob-site__link {
  &:hover,
  &:focus {
    color: $linkColor;
  }
}

.mob-address {
  display: flex;
  flex-direction: column-reverse;
  gap: 32px;
}

.mob-address__tel {
  @media screen and (max-width: 767px) {
    font-weight: 500;
    font-size: 26px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: $linkColor;
    @include mobile {
      font-size: 34px;
    }
  }
}

.mob-address__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: $secondaryTextColor;
}

.mob-contain {
  margin-top: auto;
}

.mob-address__link {
  &:hover,
  &:focus {
    color: $linkColor;
  }
  transition: color 250ms $timingFunction;
}

.mob-soc {
  display: flex;
  flex-wrap: wrap;
  margin-top: 64px;
  @include tablet {
    display: none;
  }
}

.mob-soc__item:nth-child(1) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mob-soc__item:nth-child(2),
.mob-soc__item:nth-child(3) {
  padding: 0 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.mob-soc__item:nth-child(4) {
  padding-left: 10px;
}

.mob-soc__link {
  font-weight: 500;
  font-size: 13px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: $linkColor;
  @include mobile {
    font-size: 18px;
  }
}
