.footer {
  margin: auto;
  background: $darkBackground;
  padding-top: 60px;
  padding-bottom: 60px;
  max-width: 1600px;

  @media screen and (max-width: 1199px) {
    text-align: center;
  }
  @include desktop {
    display: flex;
  }
}

.footer__container {
  @include tablet {
    display: flex;
    align-items: baseline;
    justify-content: center;
  }
  @media screen and (max-width: 1199px) {
    flex-wrap: wrap;
  }
}

.footer__meta {
  display: block;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
    width: 100%;
  }
  @include tablet {
    width: 50%;
  }
  @include desktop {
    margin-right: 70px;
    // width: 100%;
  }
}

.footer-address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $whiteTextColor;
  @include desktop {
    width: 231px;
  }
}

.footer-address__link {
  color: $secondaryTextColor;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition: color 250ms $timingFunction;

  &--white {
    color: $whiteTextColor;
    transition: color 250ms $timingFunction;
  }
  &:hover,
  &:focus {
    color: $linkColor;
  }
}

.footer-address__item {
  &:not(:last-child) {
    margin-bottom: 9px;
  }
}

.footer-soc {
  @media screen and (max-width: 767px) {
    width: 100%;
    margin-bottom: 60px;
  }
  @include tablet {
    width: 50%;
  }
  @include desktop {
    // width: 100%;
  }
}

.footer-soc__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $whiteTextColor;
  margin-bottom: 20px;
}

.footer-soc__list {
  display: flex;
  gap: 10px;
  @media screen and (max-width: 1199px) {
    justify-content: center;
  }
}

.footer-soc__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 50%;
  color: $whiteTextColor;
  background: $footerBg;
  transition: background-color 250ms $timingFunction;

  &:hover,
  &:focus {
    background-color: $linkColor;
  }
}

.footer-soc__icon {
  fill: currentColor;
}
