.portfolio-card {
  display: flex;
  flex-wrap: wrap;
  background-color: $primaryBackground;
  gap: 30px;
  column-gap: 30px;
}

.portfolio-card__item {
  width: 100%;
  @include tablet {
    width: calc((100% - 30px) / 2);
  }
  @include desktop {
    width: calc((100% - 60px) / 3);
  }
}

.portfolio-card__link {
  display: block;
  transition: box-shadow 250ms $timingFunction;

  &:hover,
  &:focus {
    box-shadow: $portfolioShadow;
  }
}
