html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: auto;
  color: $primaryTextColor;
  background-color: $primaryBackground;
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

.section {
  margin: auto;
  // display: block;
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
  max-width: 1600px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.container {
  max-width: 1200px;
  min-width: 320px;
  padding: 0 15px;
  // margin: 0 auto;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}
