.clients__title {
  @include title;
  @media screen and (min-width: 480px) {
    margin-bottom: 30px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.clients__item {
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid $iconColor;
  border-radius: 4px;
  color: $iconColor;
  width: 100%;
  height: 92px;
  transition: color 250ms $timingFunction, border-color 250ms $timingFunction;
  flex-basis: calc((100% - 30px) / 2);

  @media screen and (min-width: 480px) {
  }
  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 60px) / 3);
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 150px) / 6);
  }
}

.clients__icon {
  fill: currentColor;
}

.clients__link {
  &:hover,
  &:focus {
    border-color: $linkColor;
    color: $linkColor;
  }
}
