.clients__title {
  @include title;
  @include mobile {
    margin-bottom: 30px;
  }
  @include desktop {
    margin-bottom: 50px;
  }
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  @include mobile {
    min-width: 450px;
  }
  @include tablet {
    min-width: 738px;
  }
  @include desktop {
    min-width: 1170px;
  }
}

.clients__item {
  display: flex;
  justify-content: center;
  align-items: center;
  // flex-wrap: wrap;

  border: 1px solid $iconColor;
  border-radius: 4px;
  color: $iconColor;
  width: 100%;
  height: 92px;
  transition: color 250ms $timingFunction, border-color 250ms $timingFunction;

  @include mobile {
    flex-basis: calc((100% - 30px) / 2);
  }
  @include tablet {
    flex-basis: calc((100% - 60px) / 3);
  }
  @include desktop {
    flex-basis: calc((100% - 150px) / 6);
  }
}

.clients__icon {
  fill: currentColor;
}

.clients__link {
  &:hover,
  &:focus {
    border-color: $linkColor;
    color: $linkColor;
  }
}
