.feature__list {
  @include tablet {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  @media screen and (min-width: 1200px) {
  }
}

.feature__item {
  margin-bottom: 30px;

  @include mobile {
    // width: 450px;
  }
  @include tablet {
    // width: 354px;
    width: calc((100% - 30px) / 2);
  }
  @include desktop {
    // width: 270px;
    width: calc((100% - 90px) / 4);
  }
}

.feature__card {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  border: none;
  background: $secondaryBackground;
  margin-bottom: 30px;
}

.feature__title {
  text-align: center;
  margin-bottom: 10px;
  color: $primaryTextColor;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  @media screen and (min-width: 768px) {
    text-align: left;
  }
}

.feature__text {
  color: $secondaryTextColor;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
