.portfolio-btn {
  display: flex;
  flex-wrap: wrap;
  gap: 15px 8px;
  @media screen and (max-width: 767px) {
    margin-bottom: 40px;
  }
  @include tablet {
    margin-bottom: 30px;
    justify-content: center;
  }
  @include desktop {
    margin-bottom: 50px;
  }
}

.portfolio-btn__button {
  padding: 6px 22px;
  background: $secondaryBackground;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  text-decoration: none;
  // border: 2px;
  border-color: transparent;
  cursor: pointer;
  font-family: inherit;
  border-radius: 4px;
  transition: color 250ms $timingFunction,
    background-color 250ms $timingFunction, box-shadow 250ms $timingFunction;

  &:hover,
  :focus {
    color: $whiteTextColor;
    background-color: $linkColor;
    box-shadow: $portfolioBtnShadow;
  }
}
